@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300;600&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #184930;
    --accent1-color:#E08700;
    --accent2-color:#FFFFFF;

    --heading-font: 'Rubik', sans-serif;
    --paragraph-font:'Roboto', sans-serif;

    --nav-background-color:#184930;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color:#E08700;
    --nav-hover-background-color:#000000;
}

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
  
body{
    max-width: 1000px;
    margin: auto;
    align-content: center;
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}
    
.sociallinks a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 2rem 0;
}
    
    
.hero-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}


.hero h1 {
    position: absolute; 
    top: 25px;
    left: 0rem;
    width: 100%;
    padding:0.5rem 27rem ;
    background-color: var(--accent2-color);
    opacity: 80%;

}
article {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 80%;
    padding: 1rem 2rem;
    background-color: var(--accent2-color);
    opacity: 80%;
    

}
article p {
   margin-right: 100px;
   
}

article img{
    float: right;
    
}

header{
    margin: 1rem 1rem;
    display: grid;
    grid-template-columns: 120px 3fr ;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
   
}


nav{
    display: flex;
    justify-content: space-evenly;
    width: 80%;   
}    

nav:hover a{
    color: var(--nav-hover-link-color);
    }

nav a {
    text-decoration: none;
    font-family: var(--paragraph-font);
}
    
.history {
 display: grid;
 grid-template-columns: auto;
 grid-gap: 20px;
 grid-template-areas: 
 "header header"
 "sidebar content";
 justify-content: center;
 align-items: center;
 margin-bottom: 40px;
}
    
.history h2 {
    grid-area: header;
   
}
    
.history img{
    grid-area: sidebar;
    width: auto;
    height: 250px;
}
    
.history p{
    grid-area: content;
}
    
    
.adventure{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin-bottom: 5rem;
}

.adventure-h2{
    margin-left: 30%;
}

.adventure-img{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
    

.adventure img{
    width: auto;
    height: 150px;
    padding: 5px;
}

figcaption {
    background-color: var(--nav-background-color);
    color: var(--accent2-color);
    font: var(--paragraph-font);
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
    text-align: center;
}
   
footer{
   display: grid;
   grid-template-columns: 4fr 1fr;
   margin-left: 25rem;
   max-width: 100%;
   border: 1rem;
}

.sociallinks img{
    display: flex;
    justify-content: space-evenly; 
    width: 2rem;
}

/* styling for contact us page */

.contact_page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 5px;
}

.contact {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #c0d0c9; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    overflow: hidden;
}


.info {
    display: flex;
    padding: 40px;

}

.contact_info {
    flex: 2;
    padding: 20px;
    border: 20px;
    background: var(--secondary-color);
    color: var(--accent2-color);
    border-radius: 8px;
    width: 20rem;
    margin-left: 40px;
    display: block;
    justify-content: center;
    align-items: center;

}

.map{
    margin: 20px;
    padding: 5px;
    
}

.contact_info h1{
    color: var(--accent2-color);
}

.contact_info h3 {
    font-family: var(--paragraph-font);
    margin-top: 10px;
}

.iframe{
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    width: 200px;
    height: 200px;

}
form {
    flex: 1;
    background: var(--accent1-color);
    padding: 20px;
    border-radius: 8px;
    display: block;
    width: 30rem;
    height: 80%;
    margin-top: 40px;
    margin-left: -20px;
    justify-content: center;
    align-items: center;
}
 input, select, textarea{
    width: 100%;
    margin: 8px;
    height: 30px;
    border-radius: 5px;

 }

 textarea{
    height: 60px;
 }

label {
    display: block;
    margin: 8px;
    color: var(--primary-color);

}

.form_radio{
    display: flex;
    float: left;
    justify-content: space-evenly;
    align-items: center;
    
   
}

.form_checkbox {
    display: flex;
    float: left;
    justify-content: flex-start;
    align-items: center;
    
}

.subscribe{
    width: 20px;
}

button{
    width: 80px;
    height: 60px;
    margin-top: 10px;
    margin-left: 50px;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    background: var(--secondary-color);
    border-radius: 4px;
}

button:hover{
    background: var(--primary-color);

}
.employee{
    display: flex;
    float: right;
    padding: 20px;
    border: 20px;
    margin-left: 40px;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.employee img{
    border: 2px solid var(--nav-background-color);
    border-radius: 5px;
}

figure {
    padding: 10px;
}

.wireframe{
    position: absolute;
    text-decoration: none;
    left: 950px;
    color: var(--primary-color);
}

/* trips page styling */
    
.trips{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 2px;
}

.section1{
    flex: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    height: fit-content;
    }

.trips .table {
    background: var(--secondary-color);
    flex: 20%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 1px;
    display: flex;
    border-radius: 5px;
}

table{
    margin-left: 1px;
    margin-top: 5px;
    border-collapse: separate;
    display: inline-block;
    border-radius: 5px;
    
    
}

th {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: var(--heading-font);
    font-weight: bold;
}

tr{
    background-color: var(--accent2-color);
  }


  td {
    padding: 10px;
    font-family: var(--paragraph-font);
    
  }
  
.trips .calendar {
    background: var(--secondary-color);
    flex: 30%;
    display: flex;
    height: fit-content; 
    border-radius: 10px;   
    margin-bottom:  20px;
}

iframe{
    width: 100%;
    height: 410px;
    padding: 10px;
    border-radius: 10px;
  
}

.section2{
    flex: 50%;
    padding: 30px;
    background: var(--accent1-color);
    border-radius: 8px;
    height: fit-content;
    
}

.trip-item .body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.trip-item h2{
    margin: 10px;

}

.trip-item img {
    height: auto;
    width: 250px;
    flex: 50%;
    padding: 5px;
    border-radius: 10px;
}

.trip-item p {
    flex: 50%;
    margin: 2px 5px;
    padding: 5px;
    background: var(--accent2-color);
    text-align: center;
    border-radius: 5px;
   font-family: var(--paragraph-font) bold var(--primary-color);
}
.button .btn{
    width: 70%;
    background: var(--secondary-color);
    color: var(--accent2-color);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-bottom:10px ;
    margin-left: 70px;
}

.button .btn:hover{
    background: var(--primary-color);
}


/* homepage styling  */


 .home_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .home_hero{
    display: block;
    margin-top: auto;
 }
  
.home_hero  img{
    max-width: 100%; 
    align-self:center;
}

.home_hero h1{
    position: absolute;
    top: 250px;
    left: 500px;
    background: var(--secondary-color);
    color: var(--accent2-color);
    padding: 10px;
    border-radius: 5px;
    
}

.tour_info{
    display: grid; 
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    margin-top: 20px;
    margin-inline: auto;
    
   
}

.tour_content{
    background: var(--accent1-color);
    padding: 10px;
    width: 250px;
    border-radius: 10px;
}


.tour_content img{
	width: 193px;
	height: 125px;
    margin-inline:  25px;
    border-radius: 10px;
}

.tour_content p{
    font-size: 18px;
    width: 50%;
    margin-inline:  auto;
    font-family: var(--paragraph-font);
}

.Learn_more_btn{
    text-align: center; 
    cursor: pointer;
    transition: .4s ease-in-out;
    color:var(--accent2-color);
    width: 200px;
    margin-inline:  30%;

}

.Learn_more{
    display: grid;
    gap:  2px;
    justify-content: center;
    align-items:center;


}

.home_form{
   background: var(--accent1-color);
   margin-inline:auto;
   margin-bottom: 50px;
}


 