nav{
    border: 2px solid rgba(0,0,0,0.2);
    background-color: #eee;
    color: #000;
    height: 20px;
}

main{
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 1px;
    background-color: #333;
}

aside{
    width: 20rem;   
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;

}

p{
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

